@import "../styles/main.scss";

.banner_home{
    box-sizing: border-box;
    color: white;
    border-radius: 24px;
    height: 224px;
    font-size: 48px;
    @include flex(row);
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/home_cover.png");
}

.banner_about{
    box-sizing: border-box;
    color: white;
    border-radius: 24px;
    height: 224px;
    font-size: 48px;
    @include flex(row);
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/about_cover.png');
}

.mobile-break{
    display: none;
}


@media (max-width: $breakpoint-mobile) {

    .banner_home, .banner_about{
        font-size: 24px;
        height: 112px;
        justify-content: left;
        width: 100%;
        padding: 0px 20px;
    }
    .banner_home .mobile-break, .banner_about .mobile-break{
    display: block;
    }
}