.banner{
    color: white;
    border-radius: 24px;
    height: 224px;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/home_cover.png");
}

.mobile-break{
    display: none;
}

@media (max-width: 600px) {
    .banner{
        font-size: 24px;
        height: 112px;
    }
    .banner .mobile-break{
    display: block;
    }
}