@import "../styles/main.scss";

.collapsible{
    max-width: 1100px;
    width: 100%;
    border-radius: 10px;
    &_baseline{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:#FF6060;
        color: white;
        border-radius: 10px;
        font-size: 24px;
        padding: 10px 15px;
        cursor: pointer;
        .arrow{
            transition: all 0.2s ease-in-out;
            @media screen and (max-width: 1230px){
                width: 12px;     
            }
            &_up{
                transform: rotate(0deg);
            }
            &_down{
                transform: rotate(180deg);
            }
        }
    }
    &_content{
        cursor: auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
        letter-spacing: 1px;
        visibility: visible;
        opacity: 1;
        height: auto;
        padding: 20px;
        letter-spacing: 1px;
        font-size: 14px;
        line-height: 140%;
        background-color: $secondary-color;
        color: $base-color;
        border-radius: 0px 0px 10px 10px;
        transition: visibility 0.5s ease-in-out,
                    opacity 0.5s ease-in-out,
                    height 0.2s ease-in-out;
    }
    &_content_hidden{
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
}

.collapsible:hover{
    cursor: pointer;
}