// /* Style the button that is used to open and close the collapsible content */
// .collapsible {
//     background-color: #eee;
//     color: #444;
//     cursor: pointer;
//     padding: 18px;
//     width: 100%;
//     border: none;
//     text-align: left;
//     outline: none;
//     font-size: 15px;
//   }
  
//   /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
//   .active, .collapsible:hover {
//     background-color: #ccc;
//   }
  
//   /* Style the collapsible content. Note: hidden by default */
//   .content {
//     padding: 0 18px;
//     display: none;
//     overflow: hidden;
//     background-color: #f1f1f1;
//   }

.collapsible{
    background-color: #FF6060;
    max-width: 1100px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    // margin: 0 auto;
    &_baseline{
        // @include flex(row, space-between, center);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:#FF6060;
        color: white;
        border-radius: 10px;
        font-size: 24px;
        padding: 10px 15px;
        cursor: pointer;
        .arrow{
            transition: all 0.2s ease-in-out;
            @media screen and (max-width: 1230px){
                width: 12px;     
            }
        }
        .arrow_up{
            transform: rotate(0deg);
        }
        .arrow_down{
            transform: rotate(180deg);
        }
    }
    &_content{
        display: flex;
        flex-direction: column;
        gap: 5px;
        letter-spacing: 1px;
        visibility: visible;
        opacity: 1;
        height: auto;
        padding: 10px;
        letter-spacing: 1px;
        font-size: 16px;
        color: white;
        transition: visibility 0.5s ease-in-out,
                    opacity 0.5s ease-in-out,
                    height 0.2s ease-in-out;
    }
    &_content_hidden{
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
}

.collapsible:hover{
    cursor: pointer;
}