@import "../styles/main.scss";

.carrousel{
    height: auto;
    width: 100%;
    background-color: aquamarine;
    @media screen and (max-width:900px){
        padding: 0px 20px;      
    }
}

.info{
    color: $base-color;
    @include flex(row, space-between, center, 20px);
    width: 100%;
    @media screen and (max-width:1200px){
        padding: 0px 20px;      
    }

    @media screen and (max-width:550px){
        flex-direction: column;  
        padding: 0px 20px;      
    }
    &-main{
        @include flex(column, $align: left, $gap: 12px);
        width: fit-content;
    }
    &-secondary{
        @include flex(column, center, flex-end, 12px);
        width: 100%;
        
        @media screen and (max-width:550px){
            flex-direction: row-reverse;
            justify-content: space-between;   
            align-items: center;     
        }
        
    }
    &-tertiary{
    @include flex(row, space-between, center, 20px);
        width: 100%;

    @media screen and (max-width:1200px){
        padding: 0px 20px;      
    }

    @media screen and (max-width:550px){
        flex-direction: column;  
        padding: 0px 20px;      
    }
    }
    &-tertiary div{
        width: 100%;
        // max-width: 600px;
    }
}

.tags{
    margin-top: 12px;
    @include flex(row, left, center, 12px);
}

.owner{
    @include flex(row, center, center, 12px);
    &_picture{
        border-radius: 50%;
        width: 64px;
        height: auto;
    }
}

.title{
    font-size: 36px;
}

.location{
    font-size: 18px;
}