@import "../styles/main.scss";

.footer{
    color: white;
    background-color: black;
    @include flex(column, center, center, 24px);
    height: 200px;
    margin-top: 48px;
    width: 100%;
    font-size: 24px;
}

.footer img {
    height: 40px;
    width: max-content;
}

.mobile-break{
    display: none;
}

@media (max-width:500px){
    .footer{
        font-size: 12px;
        text-align: center;
    }
    .mobile-break{
        display: block;
    }
}