.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 48px;
    max-width: 1240px;
    width: 100%;
}

.header li, .header li a {
    text-decoration: none;
    color: #FF6060;
    list-style-type: none;
    font-size: 24px;
}

.menu{
    display: flex;
    gap: 24px;
}

.logo{
    height: 68px;
    width: auto;
}

.header li a.active{
    text-decoration: underline;
}

@media screen and (max-width: 500px){
    li, li a {
        font-size: 12px;
    }    
    .logo {
        height: 45px;
    }
    .header {
        padding: 20px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}