@import "../styles/main.scss";

.header {
    @include flex(row, space-between, center);
    margin-top: 48px;
    margin-bottom: 24px;
    max-width: 1240px;
    width: 100%;
}

.header li, .header li a {
    color: $base-color;
    font-size: 24px;
}

.menu{
    @include flex(row, $gap:24px);
}

.logo{
    height: 68px;
    width: auto;
}

.header .active{
    text-decoration: underline;
}

@media screen and (max-width: $breakpoint-mobile){
    li, li a {
        font-size: 12px;
    }    
    .logo {
        height: 45px;
    }
    .header {
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

@media screen and (max-width: $breakpoint-desktop){
    .header {
        margin-bottom: 0px;
        margin-top: 0px;
    }
}