.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li, li a {
    text-decoration: none;
    color: red;
    list-style-type: none;
}

.menu{
    display: flex;
    gap: 24px;
}

.logo{
    height: 68px;
    width: auto;
}