

*{
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 500;
}

#root{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    // background-color: rgba($color: #000000, $alpha: 0.5);
    color: white;
    border-radius: 24px;
    height: 224px;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/home_cover.png");
}

.mobile-break{
    display: none;
}

@media (max-width: 600px) {
    .banner{
        font-size: 24px;
        height: 112px;
    }
    .banner .mobile-break{
    display: block;
    }
}

.main{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    max-width: 1240px;
    width: 100%;
}